.barChart {
  background-color: var(--card-background-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 20px rgb(0 0 0 / 10%);
}

.container {
  display: flex;
  justify-content: space-between;
}

.barChart h1 {
  margin-bottom: 1rem;
  opacity: 0.84;
}

.barChart p {
  font-size: var(--text);
  opacity: 0.6;
}
