.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container {
  color: var(--text-color);
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.containerAlt {
  color: var(--text-color);
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
