.container {
  --background-color: #fafbff;
  --menu-background-color: #fafbff;
  --menuItem-background-color: #e5f1ff;
  --card-background-color: #ffffff;
  --accent-color: #0177fd;
  --text-color: #131635;
  --text-color-hover: var(--accent-color);
  --button-text-color: #ffffff;
  --icon-color: #a4b4cb;
  --icon-color-active: var(--accent-color);
  --divider-color: #e8ecf5;
  --success: #1aa72d;
  --error: #d00101;
  --transition: 0.25s;
  --transition-short: 0.2s;
  --title: 1.5rem;
  --sub-title: 1.25rem;
  --text: 1rem;

  display: flex;
  background-color: var(--background-color);
  transition: var(--transition);
}
.container.dark {
  --background-color: #1a1a1a;
  --menu-background-color: #212121;
  --menuItem-background-color: var(--background-color);
  --card-background-color: #0d0d0d;
  --accent-color: #0177fd;
  --text-color: #ffffff;
  --icon-color: #a4b4cb;
  --icon-color-active: var(--accent-color);
  --divider-color: var(--menu-background-color);
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 245px;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 4rem;
  width: 100%;
  max-width: 1100px;
  min-height: 100vh;
}
